SUPABASE_URL=https://nkqbiphgoemmehflgogz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5rcWJpcGhnb2VtbWVoZmxnb2d6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2NDM5NTQsImV4cCI6MjA5ODIxOTk1NH0.n2wiYEkHIK2327u8hVxhDOaJUK2B6JB8ohXkqCQ_mUI